.card-container{
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  animation:fadeInOut 3s;
  font-family: 'batma';
  
}
@keyframes fadeInOut {
	0% { opacity: 0; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}
.card-primary{
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
 #c0495c , #b15119
    ) 1;
  border-radius: 3px;
  background-color: transparent;
/*  color: #555;*/
  /* width: 205px;
  height: 285px; */
  width: 355px;
  height: 450px;
  margin: 20px;
  padding:30px;
  opacity: 0.8;
}

.card-primary:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.125);
  transition: box-shadow 0.2s ease, transform 0.5s ease, -webkit-transform 0.2s ease,opacity 0.5s ease-in;
  opacity: 1;

}

.service-item {
    /* width: 100%; */
    height: 320px;
    /* margin: 10px 0; */
    text-align: center;
    /* border: 1px solid #f2f2f2;  */
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    /*  */
    
  }
  .service-item i {
    position: relative;
    top: 100px;
    display: inline-block;
    /* margin-bottom: 40px; */
    /* padding: 10px; */
    /* background: #fff; */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 48px;
  }
  .service-item h5 {
    color: white;
    position: relative;
    top: 80px;
    -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .service-item .service-desc {
    color: white;    
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .service-item:hover {
    border-color: #00b2ca;
  }

  #svg1{
    top: 10px;
    height: 60px;;
  }
  .service-item:hover svg1 {
    top: -1px;
  }
  .service-item:hover h5 {
    top: -08px;
  }
  .service-item:hover .service-desc {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .jumbotron{
      /* background-image: url("ff.jpeg"); */
           background-size: cover;
          color:white;
  }